@import '~antd/dist/antd.css';

.h100 {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-cards {
    display: flex;
    margin: 1rem 0 1rem;
    position: relative;
}

.delete-card {
    position: absolute;
    right: 10px;
    z-index: 100;
    top: 20px;
    font-size: 16px;
    cursor: pointer;
    opacity: 0;
    transition: .3s linear;
}

.wrapper-cards:hover .delete-card {
    opacity: .8;
}

.shadow-card {
    box-shadow: 0 0  10px 2px rgba(0, 0, 0, 0.2);
}